* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

html {
  background: linear-gradient(
    305deg,
    hsl(113.04, 100%, 50.98%) 0%,
    hsl(99.57, 100%, 51.14%) 11.9%,
    hsl(93.22, 100%, 51.25%) 21.8%,
    hsl(89.15, 100%, 51.33%) 30%,
    hsl(86.36, 100%, 51.39%) 36.7%,
    hsl(84.36, 100%, 51.43%) 42.4%,
    hsl(82.84, 100%, 51.47%) 47.2%,
    hsl(81.58, 100%, 51.49%) 51.4%,
    hsl(80.38, 100%, 51.52%) 55.3%,
    hsl(79.06, 100%, 51.55%) 59.3%,
    hsl(77.48, 100%, 51.59%) 63.6%,
    hsl(75.49, 100%, 51.63%) 68.5%,
    hsl(73, 100%, 51.69%) 74.3%,
    hsl(69.94, 100%, 51.77%) 81.3%,
    hsl(66.27, 100%, 51.85%) 89.8%,
    hsl(61.96, 100%, 51.96%) 100%
  );
}

body {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.timer {
  font-size: 50px;
}

.control-panel {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.btn {
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  color: #FFF;
  background-color: #04C5FF;
  cursor: pointer;
}

.btn:hover {
  background-color: #FF7700;
}
